.korzina {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    border: 2px dashed rgb(109, 102, 102);
}

.korzina:hover{
    color: rgb(43, 161, 72);
    background-image: url('//imges/Frame.png');
}